
<div class="panel panel-default" style="background-color: #ebedef;border: 0">
  <div class="panel-heading" style="padding-left: 0;padding-right: 0;border:0;height: 75px;background-color: #ebedef;">

    <nav class="navbar navbar-default" style="border: 0;background-color: #ebedef;">
      <div class="container-fluid" style="background-color: #ebedef;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" >
          <a routerLink="" class="list-group-item" style="background-color: #ebedef;display: inline;padding: 10px 15px">
            <img src="assets/images/logo/logo.png" alt="Logo" style="width: 40px;height:40px;border: 1px solid #FFFFFF; border-radius: 15px;">
          </a>
        </div>
      </div>
    </nav>
  </div>
  <div class="panel-body" style="padding:0;border: 2px solid #ae4c33;border-radius: 2px;background-color: #e4b9b9;">
    <ul class="list-group" style="margin-bottom: 0;">
      <li class="my-item-show" style="padding: 0;">
        <a class="list-group-item my-item-show" data-toggle="collapse" href="#collapse1" style="display: flex;align-items: center;font-size: 24px;">
           <span class="fa fa-list fa-lg" style="margin-right: 10px;"></span> <span>commandes</span> <span class="caret" style="margin-left: auto"></span>
        </a>
          <ul id="collapse1" class="list-group collapse" style="margin-bottom: 0;font-size: 24px;">
            <li class="list-group-item my-item"><i class="fa fa-arrow-right fa-lg" style="margin-right: 10px;"></i> One</li>

          </ul>
      </li>
    </ul>
  </div>

</div>
