.Demandes-spciales {
  font-family: SFPro;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: capitalize;
}
.Ma-commande-0-FCFA {
  font-family: SFPro;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000;
}

.Notifications {
  font-family: SFPro;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.Ma-commande-0-FCFA:hover{
 color: #cb674e!important;
}
.Menu {
  font-family: SFPro;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}
.MenuNav:hover{
  background-color: #cb674e!important;
  color: #FFFFFF!important;
}
.activeButtonNav{
  color: #cb674e!important;
  border-left: 0;
  border-right: 0;
  border-bottom: 5px;
  border-top: 0;
  border-style: solid;
  border-color: #cb674e;
  padding: 10px 0.3em;
}
.LOGO-NOM {
  font-family: SFPro;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #cb674e;
}

.Rectangle{
  padding: 6.4px 25.5px 38px 24.8px;
}
.activeResponsive{
  border: 10px solid #cb674e;
  border-bottom: 0;
  border-top: 0;
  border-right: 0;
}
.Trac-21 {
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  border-top: 1px;
  border-style: solid;
  border-color: #e7e7e7;
}
.menu-hidden{
  background-color: #FFFFFF;

}
