.message-preview-container {
	border: 2px solid white;
	text-align: left;
	padding:10px;
	margin-left:10%;
	margin-right:10%;
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.1);
	background: rgba(255,245,245,0.2);
}

.table-details-transaction-donateur {
	
	margin-left:5px;
	text-align: left;
}

.table-details-transaction-donateur th, .table-details-transaction-donateur td {
	border: none;
	padding-left: 5px;
}

.table-without-border th, .table-without-border td {
	border : none;
	box-shadow: none;
}

.labelLoginPageErrorMessage {
	color: rgb(150,0,0);
}