<ng-container *ngIf="(productsInput$ | async) as result" [ngSwitch]="result.dataState">
  <ng-container *ngSwitchCase="DataStateEnumResto.LOADING" >
    <i class="fa fa-refresh fa-spin" style="font-size:30px;"></i>
  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnumResto .ERROR">
    <div class="alert-danger">
      {{result.errorMessage}}</div>
  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnumResto.LOADED">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4 [ngSwitch]="result.actionTypes" style="font-weight: 600;">
        <span *ngSwitchCase="ProductActionsTypesResto.GET_ALL_PRODUCTS">Tous les produits</span>
      <span *ngSwitchCase="ProductActionsTypesResto.GET_SALADES_PRODUCTS">Salades</span>
      <span *ngSwitchCase="ProductActionsTypesResto.GET_BOISSONS_PRODUCTS">Boissons</span>
      <span *ngSwitchCase="ProductActionsTypesResto.GET_RESISTANCE_PRODUCTS">Resistants</span>
      <span *ngSwitchCase="ProductActionsTypesResto.GET_DESSERTS_PRODUCTS">Desserts</span>
      <span *ngSwitchCase="ProductActionsTypesResto.GET_ENTREES_PRODUCTS">Entrees</span>
      <span *ngSwitchCase="ProductActionsTypesResto.SEARCH_PRODUCTS">Les résultats de la recherche</span>
      <span *ngSwitchCase="ProductActionsTypesResto.GET_SANS_GLUTEN_PRODUCTS">Sans gluten</span>
      <span *ngSwitchCase="ProductActionsTypesResto.GET_VEGETARIEN_PRODUCTS">VEGETARIENS</span>
      <span *ngSwitchCase="ProductActionsTypesResto.GET_BIO_PRODUCTS">bioS</span>
      <span *ngSwitchCase="ProductActionsTypesResto.GET_VEGAN_PRODUCTS">Vegans</span>
      </h4>
      </div>
      <!-- Affichage des items-->
      <div *ngFor="let p of result.data " class="col-xs-12 col-sm-6 col-md-6 col-lg-4" (click)="onGetProductItem(p)">
        <app-rest-item [productItem]="p" (productRestoEventEmitter)="onActionEvent($event)"></app-rest-item>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="productView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <app-view-item [product]="selectedProduct"> </app-view-item>
      </div>

    </div>
  </ng-container>
</ng-container>
