<div class="Rectangle">
  <div class="row" style="margin-left: 0;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 "
         style="border-top: 3px;border-left: 3px #FFFFFF!important;border-bottom: 0;border-right: 0;border-color: #e7e7e7;border-style: solid;
  padding: 15px  0 0 0;">
      <!--(keyup)="onSearch(recherche.value)"-->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 MonForm"> <!-- utiliser keypress ou change-->
        <input class="form-control me-2 inputForm" style="padding: 5px 20px;" name="keyword"
               type="text" placeholder="  Rechercher">
        <button type="reset" class="btn reset" (click)="onGetProductCustom(getAllProduct);">
          <i class="fa fa-times"></i>
        </button>
        <button class="btn MenuNav hidden-lg hidden-md" style="margin-left: auto;" (click)="dropDownMenuProduct()">
          <i class="fa fa-caret-down"></i>
        </button>
      </div>
      <!--        <span><strong>Afficher le menu</strong></span>-->
    </div>
  </div>
  <div class="classMenuProduct" id="idMenuProduct" style="padding: 10px 0;">
    <div class="nav-resto">
      <ng-container *ngIf="(menuCategories$ | async) as result" [ngSwitch]="result.dataState">
        <ng-container *ngSwitchCase="DataStateEnumResto.LOADING">
          <i class="fa fa-refresh fa-spin" style="font-size:30px;"></i>
        </ng-container>
        <ng-container *ngSwitchCase="DataStateEnumResto .ERROR">
          <div class="alert-danger">
            {{result.errorMessage}}
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="DataStateEnumResto.LOADED">
          <div class="row" style="display: flex;padding: 0;overflow-x: auto;margin-left: 0;">
            <div class="col-xs-6 col-sm-4 " *ngFor="let menu of result.data"
                 [ngClass]="menu.nom==='Plats de résistance'?'col-md-4 col-lg-2': 'col-md-3 col-lg-1'">
              <div style="margin: 0 0 0 2px;height: 60px;" *ngIf="(currentMenuItem$ | async) as currentMenuItem">
                <button class="btn widthBtn MenuNav" *ngIf="currentMenuItem.data"
                        [ngClass]="currentMenuItem.data.id===menu.id?'activeButtonMenu':''"
                        style="height: 80%;"
                        (click)="onGetProductCustom(menu.id);">{{menu.nom}}
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="row" style="margin: 0;">
    <!--
      Colonne Filtres
    -->
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" *ngIf="(currentMenuItem$ | async) as result">
      <app-rest-list-filtre
                            [regimeForCurrentCategory]="regimeForCurrentCategory"
                            [options]="options"
                            (productRestoEventEmitter)="onActionEvent($event)"></app-rest-list-filtre>

    </div>


    <!-- Colonne Product-->
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" style="padding: 0;">
      <!-- Affichage des donnees-->
      <div class="container-fluid">
        <app-rest-list-items [productsInput$]="productsInput$"
                             [plat]="plat"
                             (productRestoEventEmitter)="onActionEvent($event)"></app-rest-list-items>
      </div>
    </div>
  </div>
</div>




